/* GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', "Arial", cursive;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 2px;
    color: #222;
    background-color: #fff;
}

